.home{
    flex: 4;
    background-color: #f8f8f8;
}
.container {
    display: flex;
}
/*put descriptive headline above feat stats*/
/*headline above graphs*/
/*"coding map with hover html"*/
/*disclaimer on updating frequency at bottom of page*/