.Topbar{
    width: 100%;
    height: 50px;
    background-color: white;
}

.topbarWrapper{
    height: 100px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: bold;
    font-size: 30px;
    color: lightskyblue;
    cursor: pointer;
}

.topRight{
    display: flex;
    align-items: center;
}

.topbarIcons{
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
}

.topbarIconBadge{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.topPFP{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}