.featured {
    width: 100%;
    height: 19%;
    display: flex;
    justify-content: space-between;
}

.featuredItem {
    flex: 1;
    margin: 1% 2% 0% 2%;
    padding: 1.5%;
    border-radius: 10px;
    -webkit-box-shadow: -5px 5px 8px 5px #D0D1CA; 
    box-shadow: -5px 5px 8px 5px #D0D1CA; /*#6cbceb*/
}

.featuredTitle {
    font-size: 150%;
}

.featuredBoxContainer {
    margin: 4% 0%;
    display: flex;
    align-items: center;
}

.featuredNum {
    font-size: 240%;
    font-weight: bold;
}

.featuredRate {
    display: flex;
    align-items: center;
    margin-left: 7%;
    font-size: 120%;
}

.featuredPrevious {
    margin-left: 35%;
    font-size: 150%;
    color: #696969;
}

.featuredSubPrev {
    margin-left: 25%;
    color: #696969;
}

.featuredSubtitle {
    white-space: nowrap;
    color: #696969;
}

.featuredNumMillion {
    font-size: 240%;
    font-weight: bold;
    white-space: nowrap;
}

.featuredPreviousMillion {
    margin-left: 20%;
    font-size: 150%;
    color: #696969;
    white-space: nowrap;
}

.featuredSubPrevMillion {
    margin-left: 42%;
    color: #696969;
    white-space: nowrap;
}